body {
  min-height: 100%;
  background-image: url("/svgs/background.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.posts, .header, footer, article {
  background-color: rgba(255,255,255,0.6);
}

@media only screen and (max-width:639px) {
  body {
    background-size: contain;
  }
}

// Content
#content {
  margin-top: 15%;
}

// Mobile navigation
// hide mobile menu toggle on desktop
.main-nav {
  z-index: 1000;
  .icon {
  display: none;
  text-align: right;
  }
}

@media screen and (max-width: 670px) {
  .main-nav {
    ul {
      li {
        display: none;
      }
    }
    .icon {
      float: right;
      display: block;
    }
    &.responsive {
      position: absolute;
      width: 100%;
      padding: 1.5em;
      top: 0;
      left: 0;
      border: 1px solid $dark-300;
      z-index: 1000;
      ul {
        li {
          display: block;
        }
      }
      .icon {
        position: absolute;
        right: 1.5em;
        top: 1.5em;
      }
    }
  }
  img.logo {
    max-width: 100px;
  }
  .siteTitle {
    max-width: 280px;
    span {
      font-size: 0.825em;
    }
  }
}
// Image sizes
img[src*="#small"]{
  width: 400px;
  display: block;
  padding-top: 1em;
}

// Captions
figcaption p {
  font-size: inherit;
}

// Header
@media only screen and (min-width: 671px){
  img.logo {
    max-width: 200px;
  }
}

p.siteTitle {
  position: absolute;
  top: 0;
  left: 0;
}

// Sidebar
@media only screen and (max-width: 670px) {
  .post-wrapper {
    flex-direction: column;
  }
}
