.dark-300 {
  color: $dark-300;
}
.linkcolor {
  color: $linkcolor;
}

.primary {
  color: $primary;
}

h1 {
  @extend .primary;
}

a {
  @extend .linkcolor;
}

.border-linkcolor {
  @include bordercolor($linkcolor);
}
.border-dark-300 {
  @include bordercolor($dark-300);
}
