{{ define "main" }}
<div class="post-wrapper flex">
<section id="post-main" class="margin-bottom-l max-width-l">
  <div>
        <article>
        <h1 id="title">{{ .Title }}</h1>
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta" class="padding-horizontal-l width-100">
    <div class="padding-s background-light-100 box-shadow-s">
    <section>
      <h4 id="date"> {{ .Date.Format "02.01.2006" }} </h4>
      <h5 id="wordcount"> {{ .WordCount }} Wörter </h5>
    </section>
    <p>Kategorien:</p>
    <div class="category-list group group-m">
    {{ with .Params.categories }}
    <ul id="categories">
      {{ range . }}
        <li class="border border-linkcolor linkcolor box-shadow-s"><a class="padding-horizontal-xs display-block text-decoration-none" href="/categories/{{ . | urlize}}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    </div>
</aside>
</div>
{{ end }}
