<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Page.Description }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  {{ template "_internal/opengraph.html" . }}
  <meta name="twitter:image" content="https://feministclickback.org/images/logo-twitter-card.png"/>
</head>
<body class="">
  <header class="header flex {{ if .IsHome }}justify-content-flex-end {{ else }} justify-content-space-between  {{ end }} margin-vertical-m padding-horizontal-m">
    {{ if ne .IsHome true }}
    <div class="">
    <p class="siteTitle primary font-size-xxl margin-xs no-margin-left">
        <a class="text-decoration-none" href="{{.Site.BaseURL}}">
          {{ $.Site.Title }}
        </a>
    </p>
    <p class="subtitle margin-horizontal-xxs no-margin-left no-margin-top">{{ $.Site.Params.subtitle }}</p>
    </div>
    {{ end }}
  {{ partial "menu.html" . }}
  </header>
  <main id="content" class="margin-bottom-l container">
    {{- block "main" .}}{{- end}}
  </main>
<footer class="padding-horizontal-m">
  {{ partial "footer.html" . }}
</footer>
{{ $js := resources.Get "js/mobile-menu.js" | resources.Minify  }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>
</body>
</html>
