<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">

</head>
<body class="container">
  <div class="header flex-justify margin-vertical-m">
  <p class="siteTitle primary">{{ .Site.Title }}</p>
  {{ partial "menu.html" . }}
  </div>
  <main id="content">
    {{- block "main" .}}{{- end}}
  </main>
</body>
<footer>
  {{ partial "footer.html" . }}
</footer>
</html>
