<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Page.Summary }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">

</head>
<body class="container">
  <div class="header flex justify-content-flex-end margin-vertical-m">
    <p class="siteTitle primary flex align-items-center">
        <a class="text-decoration-none" href="{{.Site.BaseURL}}">
          {{ if $.Site.Params.logo }}
          <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="logo" alt="{{ $.Site.Title }}">
          {{ else }}
          {{ $.Site.Title }}
          {{ end }}
        </a>
        <span class="subtitle margin-horizontal-xxs">{{ $.Site.Params.subtitle }}</span>
    </p>
  {{ partial "menu.html" . }}
  </div>
  <main id="content" class="margin-bottom-l">
    {{- block "main" .}}{{- end}}
  </main>
<footer>
  {{ partial "footer.html" . }}
</footer>
{{ $js := resources.Get "js/mobile-menu.js" | resources.Minify  }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>
</body>
</html>
