{{ define "main" }}
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    <h2>Themen</h2>
    <div class="category-list margin-vertical-m group group-m">
    <ul>
    {{ range .Site.Taxonomies.categories }}
            <li class="border border-linkcolor linkcolor box-shadow-s"><a class="padding-horizontal-xs display-block text-decoration-none" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
    </ul>
    </div>
    <h2>Alle Beiträge</h2>
    <div class="posts">
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range (.Paginator 5).Pages }}
        <li class="margin-vertical-l">
            <a class="text-decoration-none" href="{{.Permalink}}"><h3>{{.Title}}</h3></a>
            <div class="categories">{{ range (.GetTerms "categories") }}<span class="border border-dark-300 color-dark-300 padding-horizontal-xs box-shadow-s">{{ .LinkTitle }}</span>{{ end }}</div>
            <p class="meta"><span class="date color-dark-300">{{.Date.Format "01.02.2006"}}</span><span class="summary">{{ .Page.Description }}</span><a class="readmore" href="{{ .Permalink }}">Weiterlesen</a></p>
        </li>
    {{ end }}
    </ul>
    </div>
    <div class="pagination-wrapper group group-m margin-vertical-l">
    {{ template "_internal/pagination.html" . }}
    </div>
    </article>
{{ end }}
