<nav id="footer-navigation" class="group group-xxl flex justify-content-flex-end">
  <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.footer }}
       <li>
          <a class="text-decoration-none" href="{{ .URL }}">
                {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
       </li>
        {{ end }}
        <li>
          <div id="wcb" class="carbonbadge"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer></script>
        </li>
  </ul>
</nav>
