{{ define "main" }}
      <header class="homepage-header">
        <h1 id="title">{{ $.Site.Title }}</h1>
        {{ with .Site.Params.subtitle }}
        <h2 class="subtitle">{{.}}</h2>
        {{ end }}
      </header>
      <section aria-labelledby="title" class="homepage-content">
        {{.Content}}
      <a href="/ueber/" class="read-more-button">Mehr über die Initiative →</a>
      </section>
      <section class="blog-teaser">
        {{ partial "blog-teaser.html" . }}
      </section>
{{ end }}
